@import url(openSansFont/OpenSans.css);
@import url(editor.css);

*{
	border: none;
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 16px;
	font-family: "Courier New", monospace;
}

h1{
	display: inline-block;
}

h2{
	font-size: 1em;
	font-weight: normal;
}

p{
	margin-bottom: 15px;
}

textarea,
div [contenteditable="true"]{
	font-size: 14px;
	border: 1px #DDDDDD solid;
	outline: none;
	background-color: #FFFFFF;
	white-space: pre;
	overflow-y: auto;
	font-family: "Courier New", monospace;
	box-sizing: border-box;
	resize: none; 
}

textarea:hover, textarea:active, textarea:focus,
div [contenteditable="true"]:hover, div [contenteditable="true"]:active, div [contenteditable="true"]:focus{
	border-color: #AAAAAA;
}

button{
	border: 1px #CCCCCC solid;
	background-image: linear-gradient(to bottom, #FFFFFF, #F0F0F0);
	padding: 3px 6px;
	cursor: pointer;
	outline: none;
	height: 25px;
	font-family: "Courier New", monospace;
}

button:hover{
	border: 1px #DDDDDD solid;
	background-color: #FFFFFF;
	background-image: none;
}

button:active{
	border: 1px #BBBBBB solid;
	background-image: linear-gradient(to top, #FFFFFF, #EEEEEE);
}

input[type="text"],
input[type="number"]{
	border: 1px #DDDDDD solid;
	outline: none;
	height: 15px;
	padding: 2px;
	font-family: "Courier New", monospace;
}

input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus,
input[type="number"]:hover, input[type="number"]:active, input[type="number"]:focus{
	border-color: #AAAAAA;
}

hr{
	border-top: 1px #888888 solid;
	margin-top: 0px;
	margin-bottom: 5px;
}

#centrificator{
	max-width: 1031px;
	margin: 10px auto;
}

.panel,
.register{
	background-color: #F8F8FF;
	border: 1px rgba(0, 0, 0, 0.8) solid;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
}

.panel h2,
.register h2{
	display: block;
	width: 100%;
	background-color: #EEEEFF;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
	padding-left: 5px;
	padding-top: 3px;
	border-bottom: 1px rgba(0, 0, 0, 0.8) solid;
}

.register h2{
	padding-left: 0px;
}

.register{
	width: 120px;
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
}

.registerValue{
	padding-top: 3px;
	height: 18px;
	transition: background-color;
	transition-timing-function: ease-out;
	transition-duration: 250ms;
}

.registerValue:not(:first-of-type) {
	border-top: 1px rgba(0, 0, 0, 0.8) solid;
}

.registerValue.read,
#ramtable td.read,
#stacktable td.read,
#flagtable td.read{
	background-color: #FFAA00;
	transition-duration: 0ms;
}

.registerValue.written,
#ramtable td.written,
#stacktable td.written,
#flagtable td.written{
	background-color: #AA55FF;
	transition-duration: 0ms;
}

#miracLogo{
	padding: 9px;
	background-color: #F8F8FF;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
	margin-top: 5px;
	margin-bottom: 15px;
	padding-bottom: 14px;
}

#rdLogoContainer{
	text-align: right;
	margin-top: 10px;
}

#about{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	width: 375px;
	text-align: center;
	padding-top: 10px;
	font-family: OpenSans, sans-serif;
	font-weight: 200;
	
}

#romInput{
	position: absolute;
	margin-left: 6px;
	width: 501px;
	height: 397px;
	margin-top: 5px;
	
	transition: margin-left, width, margin-top, height;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

#romInput #romTextContainer{
	position: absolute;
	overflow: hidden;
	display: block;
	top: 30px;
	left: 5px;
	right: 5px;
	bottom: 35px;
	z-index: 10000;
}

#romInput #romText{
	height: 100%;
	width: 100%;
	display: block;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.1);
	padding: 5px;
}

#romInput #romDisplay{
	position: absolute;
	display: block;
	top: 30px;
	left: 5px;
	right: 5px;
	bottom: 35px;
	box-sizing: border-box;
	padding: 5px;
	overflow: hidden;
}

#romInput #biggerButton{
	padding: 0px;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 19px;
	height: 19px;
	line-height: 13px;
	box-sizing: border-box;
	background-image: url(../_media/expand.svg);
	background-color: #FCFCFC;
	background-size: 15px 15px;
	background-position: 1px 1px;
	background-repeat: no-repeat;
}

#romInput.bigger #biggerButton{
	background-image: url(../_media/shrink.svg);
 }

 #romInput #biggerButton:hover{
	background-color: #FFFFFF;
 }

#romInput #romControls{
	position: absolute;
	bottom: 5px;
}

#romInput.bigger{
	margin-left: -502px;
	width: 1009px;
	margin-top: -53px;
	height: 95%;
}

#loadRamButton{
	margin-left: 5px;
}

#loadToAddress{
	width: 40px;
	text-align: right;
}

#ram{
	vertical-align: top;
	margin-left: 5px;
	width: 627px;
}

.memtable{
	border-collapse: collapse;
	margin: 5px;
}

.memtable td{
	border: 1px #CCCCCC solid;
	width: 45px;
	height: 14px;
	text-align: center;
	background-color: #FEFEFF;
	transition: background-color;
	transition-timing-function: ease-out;
	transition-duration: 500ms;
	cursor: default;
}

.memtable td:hover{
	background-color: #FFFFAA;
	transition-duration: 100ms;
}

#rightpanel{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}

.rightPanelDiv{
	display: block;
	width: 375px;
	margin-bottom: 5px;
}

#moreRegistersPanel{
	display: inline-block;
}

#moreRegistersPanel div{
	display: block;
}

#flagtable{
	border-collapse: collapse;
	margin: 5px;
}

#flagtable td{
	border: 1px #CCCCCC solid;
	text-align: center;
	background-color: #FEFEFF;
	padding: 2px;
	width: 90px;
	transition: background-color;
	transition-timing-function: ease-out;
	transition-duration: 250ms;
}

#control{
	height: 173px;
}

#control button{
	margin-right: 5px;
}

#run{
	margin: 5px;
}

#run:active{
	border-color: #AADDAA;	
}

.runButton{
	background-image: linear-gradient(to bottom, #DDFFDD, #AAFFAA);
	border-color: #AADDAA;	
}

.runButton:active{
	border-color: #AADDAA;	
}

.stopButton{
	background-image: linear-gradient(to bottom, #FFDDDD, #FFAAAA);
	border-color: #DDAAAA;	
}

.stopButton:active{
	border-color: #DDAAAA;	
}

#rightpanel .controlValueLabel{
	margin-left: 5px;
	display: inline-block;
	width: 176px;
}

#rightpanel .controlValueButton{
	margin-left: 5px;
	margin-bottom: 5px;
}

#rightpanel .controlValue{
	width: 40px;
	text-align: right;
	height: 18px;
}

#rightpanel #frequencyLabel{
	width: 120px;
	height: 30px;
}

#rightpanel #frequency{
	text-align: right;
	width: 153px;
}

#leftpanel{
	display: inline-block;
}

#octalDisplay{
	width: 120px;
	margin-top: 5px;
	margin-left: 5px;
}

#octalDisplay .displayContainer{
	background-color: #000000;
	margin: 5px auto;
	text-align: center;
	width: 100px;
}

#octalDisplay .displaySegment{
	display: inline-block;
	margin: 10px 2px 5px 2px;
	width: 20px;
	height: 32px;
	background-image: url(../_media/sevensegment.png);
}

#dotMatrix{
	width: 245px;
	margin-top: 5px;
	margin-left: 5px;
}

#dotMatrix .dotMatrixContainer{
	background-color: #000000;
	margin: 5px auto;
	width: 160px;
	height: 160px;
	padding: 5px;
	text-align: center;
}

#dotMatrix #dotMatrixCanvas{
	background-color: #300e00;
}




