@import url(openSansFont/OpenSans.css);
@import url(generic.css);
@import url(control.css);
@import url(romInput.css);
@import url(periphery.css);
@import url(popup.css);
@import url(editor.css);

#centrificator{
	max-width: 1031px;
	margin: 10px auto;
}

.panel,
.register{
	background-color: #F8F8FF;
	border: 1px rgba(0, 0, 0, 0.8) solid;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
}

.panel h2,
.register h2{
	display: block;
	width: 100%;
	background-color: #EEEEFF;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
	padding-left: 5px;
	padding-top: 3px;
	border-bottom: 1px rgba(0, 0, 0, 0.8) solid;
}

.register h2{
	padding-left: 0px;
}

.register{
	width: 120px;
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
}

.registerValue{
	padding-top: 3px;
	height: 18px;
	transition: background-color;
	transition-timing-function: ease-out;
	transition-duration: 250ms;
}

.registerValue:not(:first-of-type) {
	border-top: 1px rgba(0, 0, 0, 0.8) solid;
}

.registerValue.read,
#ramtable td.read,
#stacktable td.read,
#flagtable td.read{
	background-color: #FFAA00;
	transition-duration: 0ms;
}

.registerValue.written,
#ramtable td.written,
#stacktable td.written,
#flagtable td.written{
	background-color: #AA55FF;
	transition-duration: 0ms;
}

#miracLogo{
	padding: 9px;
	background-color: #F8F8FF;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
	margin-top: 5px;
	margin-bottom: 15px;
	padding-bottom: 14px;
}

#rdLogoContainer{
	text-align: right;
	margin-top: 10px;
}

#about{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	width: 375px;
	text-align: center;
	padding-top: 10px;
	font-family: OpenSans, sans-serif;
	font-weight: 200;
	
}

#ram{
	vertical-align: top;
	margin-left: 5px;
	width: 627px;
}

.memtable{
	border-collapse: collapse;
	margin: 5px;
}

.memtable td{
	border: 1px #CCCCCC solid;
	width: 45px;
	height: 14px;
	text-align: center;
	background-color: #FEFEFF;
	transition: background-color;
	transition-timing-function: ease-out;
	transition-duration: 500ms;
	cursor: default;
}

.memtable td:hover{
	background-color: #FFFFAA;
	transition-duration: 100ms;
}

#rightpanel{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}

.rightPanelDiv{
	display: block;
	width: 375px;
	margin-bottom: 5px;
}

#moreRegistersPanel{
	display: inline-block;
}

#moreRegistersPanel div{
	display: block;
}

#flagtable{
	border-collapse: collapse;
	margin: 5px;
}

#flagtable td{
	border: 1px #CCCCCC solid;
	text-align: center;
	background-color: #FEFEFF;
	padding: 2px;
	width: 90px;
	transition: background-color;
	transition-timing-function: ease-out;
	transition-duration: 250ms;
}

#leftpanel{
	display: inline-block;
}
